In [161]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
from datetime import date
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import six
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize'] = 16, 9

In [162]:
df= pd.read_csv('C:\\Users\\hp\\Desktop\\5th Semester\\Computational Social Science\\project\\HMXPC13_DI_v2_5-14-14.csv')

In [163]:
df.head(5)

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,NaN,0,2012-10-15,NaN,NaN,9.0,NaN,1.0,0,NaN,1.0
2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-09-17,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0
4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0

In [164]:
# We get a global variable of rowCount 
rowCount = df.shape[0]

In [165]:
# ------------------------------------------------- Course Id -----------------------------------------------------------------# 

# First we clean the data for column course_id
df['course_id']
df['course'], df['extra_data'] = df['course_id'].str.split('/', 1).str
df['pre_id'], df['year_semester'] = df['extra_data'].str.split('/', 1).str
df['year'], df['semester'] = df['year_semester'].str.split('_', 1).str

# drop unnecessary data as it was not needed anymore. 
print("dropping column year_semester,extra_data and course_id ")
df = df.drop(['year_semester', 'extra_data', 'course_id'], axis=1)

dropping column year_semester,extra_data and course_id

In [166]:
# ------------------------------------------------- Registered --------------------------------------------------------------- # 

# check all unique values for registered
print("All unique values for registered are:",df['registered'].unique())

# Since all participants are registered , hence we can drop this column as it wont have an effect on grade. 
print("dropping column registered")
df = df.drop(['registered'], axis=1)

All unique values for registered are: [1]
dropping column registered

In [167]:
# --------------------------------------------------- Viewed ---------------------------------------------------------------- # 
print("All unique values for viewed are:",df['viewed'].unique())
# [0 1] shows that either the person has viewed a course or not.
# No need to clean any data in this column as no NaN values exist.

viewed = df.query('viewed == 1')['viewed'].count()
print("Number of people who viewed the courses are:",viewed)

perViewed = percentage(viewed, rowCount)
print("Almost",perViewed,"% people viewed the courses")

All unique values for viewed are: [0 1]
Number of people who viewed the courses are: 400262
Almost 62.42992928199545 % people viewed the courses

In [168]:
# --------------------------------------------------- Explored ---------------------------------------------------------------- # 
print("All unique values for explored are:",df['explored'].unique())
# [0 1] shows that either the person has explored a course or not.
# No need to clean any data in this column as no NaN values exist.

explored = df.query('explored == 1')['explored'].count()
print("Number of people explored are:",explored)

perExplored = percentage(explored, rowCount)
print("Only",perExplored,"% people explored the courses")

All unique values for explored are: [0 1]
Number of people explored are: 39686
Only 6.189931028889256 % people explored the courses

In [169]:
# --------------------------------------------------- Certified ---------------------------------------------------------------- # 
print("All unique values for certified are:",df['certified'].unique())
# [0 1] shows that either the person has certified a course or not.
# No need to clean any data in this column as no NaN values exist.

certified = df.query('certified == 1')['certified'].count()
print("Number of people certified are:",certified)

perCertified = percentage(certified, rowCount)
print("Only",perCertified,"% people certified the courses")

All unique values for certified are: [0 1]
Number of people certified are: 17687
Only 2.7586884570872416 % people certified the courses

In [170]:
def percentage(part, whole):
  return 100 * float(part)/float(whole)

In [171]:
# -------------------------------------------- Incomplete and Role ----------------------------------------------------------- # 

# incomplete flag and roles have mostly Null values and are only used for administration, thus we drop them.
print("dropping columns roles and incomplete_flag")
df = df.drop(['roles', 'incomplete_flag'], axis=1)

dropping columns roles and incomplete_flag

In [173]:
# Rough Work and Important functions : 
# nunique()
# unique()
# df.drop
# print(df['certified'].value_counts(dropna= False))
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
#