In [1]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
from datetime import date
import datetime
from sklearn import metrics
import sklearn as sk
import six
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize'] = 16, 9

In [2]:
data = pd.read_csv('cleaned_data.csv')

In [3]:
# We get a global variable of rowCount 
rowCount = data.shape[0]
print("Total Number of Rows:",rowCount)

Total Number of Rows: 494790

In [5]:
data.columns

Index(['course_id', 'userid_DI', 'viewed', 'explored', 'final_cc_cname_DI',
       'LoE_DI', 'YoB', 'gender', 'grade', 'start_time_DI', 'last_event_DI',
       'nevents', 'ndays_act', 'nplay_video', 'nchapters', 'nforum_posts',
       'Australia', 'Bangladesh', 'Brazil', 'Canada', 'China', 'Colombia',
       'Egypt', 'France', 'Germany', 'Greece', 'India', 'Indonesia', 'Japan',
       'Mexico', 'Morocco', 'Nigeria', 'Other Africa', 'Other East Asia',
       'Other Europe', 'Other Middle East/Central Asia',
       'Other North & Central Amer., Caribbean', 'Other Oceania',
       'Other South America', 'Other South Asia', 'Pakistan', 'Philippines',
       'Poland', 'Portugal', 'Russian Federation', 'Spain', 'Ukraine',
       'United Kingdom', 'United States', 'Unknown/Other', 'total_activity',
       'Bachelor's', 'Doctorate', 'Less than Secondary', 'Master's',
       'Secondary', 'UnknownLoE', 'f', 'm', 'o', 'u', 'age'],
      dtype='object')

In [7]:
def percentage(part, whole):
  return 100 * float(part)/float(whole)

In [9]:
# --------------------------------------------------- Viewed ---------------------------------------------------------------- # 
print("All unique values for viewed are:",data['viewed'].unique())
# [0 1] shows that either the person has viewed a course or not.
# No need to clean any data in this column as no NaN values exist.

viewed = data.query('viewed == 1')['viewed'].count()
print("Number of people who viewed the courses is:",viewed)

perViewed = percentage(viewed, rowCount)
print(perViewed,"% of people viewed the courses")

All unique values for viewed are: [0 1]
Number of people who viewed the courses is: 309291
62.50954950585097 % people viewed the courses

In [11]:
# --------------------------------------------------- Explored ---------------------------------------------------------------- # 
print("All unique values for explored are:",data['explored'].unique())
# [0 1] shows that either the person has explored a course or not.
# No need to clean any data in this column as no NaN values exist.

explored = data.query('explored == 1')['explored'].count()
print("Number of people who explored highest parts of courses:",explored)

perExplored = percentage(explored, rowCount)
print("Only",perExplored,"% people explored the highest parts of courses")

All unique values for explored are: [0 1]
Number of people who explored highest parts of courses: 30723
Only 6.209300915539926 % people explored the highest parts of courses