In [1]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
from datetime import date
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import sklearn as sk
import six
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize'] = 16, 9

In [2]:
data = pd.read_csv('cleaned_data.csv')

# Multicollinearity checking

#### Based on research we drop one of dummy variables for each group (Gender, Year of birth, Level of education) of dummy created variables. This aproach is based on seperating one referent variable, usually the one with most rows.

In [3]:
variables = data.drop(['course_id', 'userid_DI', 'grade', 'Unknown/Other', 'UnknownLoE','u', 'o', 'm', 'YoB' ], axis=1)
#droping:
# descriptive columns that are not considered as variables like course id
# grade
# u and o columns because they have no remining values
# one referent variable for each group of dummy variables

In [4]:
correlations = variables.corr()

In [5]:
w, v = np.linalg.eig(correlations) #compute the eigenvalues and right eigenvectors
# w is array of eigenvalues
# v is array of normalized eigenvectors

In [6]:
df = pd.DataFrame(columns= ['variables', 'w'])

In [7]:
df['variables'] = correlations.columns
df['w'] = w

In [8]:
df

                                 variables         w
0                                   viewed  3.918071
1                                 explored  1.930139
2                                  nevents  0.039928
3                                ndays_act  0.124346
4                              nplay_video  0.164388
5                                nchapters  0.154892
6                             nforum_posts  1.604177
7                                Australia  0.322393
8                               Bangladesh  0.444625
9                                   Brazil  1.394412
10                                  Canada  0.667113
11                                   China  0.757739
12                                Colombia  0.859359
13                                   Egypt  1.152118
14                                  France  1.139069
15                                 Germany  0.899823
16                                  Greece  1.114429
17                                   India  0.914321
18                               Indonesia  1.088281
19                                   Japan  1.052507
20                                  Mexico  0.969905
21                                 Morocco  1.038312
22                                 Nigeria  0.983324
23                            Other Africa  1.028774
24                         Other East Asia  1.026958
25                            Other Europe  1.025571
26          Other Middle East/Central Asia  0.995803
27  Other North & Central Amer., Caribbean  1.021003
28                           Other Oceania  1.019591
29                     Other South America  0.997893
30                        Other South Asia  1.017801
31                                Pakistan  1.015588
32                             Philippines  1.000748
33                                  Poland  1.012947
34                                Portugal  1.011513
35                      Russian Federation  1.003315
36                                   Spain  1.003690
37                                 Ukraine  1.011093
38                          United Kingdom  1.010394
39                           United States  1.009231
40                          total_activity  1.008643
41                              Bachelor's  1.008002
42                               Doctorate  1.005386
43                     Less than Secondary  1.007188
44                                Master's  1.005952
45                               Secondary  1.006126
46                                       f  1.006381
47                                     age  1.006744

We see that eigenvalues are closest to 0 for variables nevents, ndays_active, nplay_videos and nchapters. This could possibly be explained by saying that all of them measure some types of interaction with course materials so it makes sense that they are more strongly correlated. 
#### Based on research of how to deal with multicollinearity we have decided to remove two of them from final set of variables. This will solve the problem of existance of multicollinearity.

## Multicollinearity checking without dummy variables
We were curious too see the result in this special case and decided to leave also this check for final version.

In [9]:
colums = ['viewed', 'explored', 'nevents', 'ndays_act',
       'nplay_video', 'nchapters', 'nforum_posts', 'total_activity',
       'age']

In [10]:
n_c = data[colums].corr()

In [11]:
w, v = np.linalg.eig(n_c)

In [12]:
df1 = pd.DataFrame(columns= ['variables', 'w'])

In [13]:
df1['variables'] = n_c.columns
df1['w'] = w

In [14]:
df1

        variables         w
0          viewed  3.888165
1        explored  1.088961
2         nevents  1.016830
3       ndays_act  0.953093
4     nplay_video  0.768979
5       nchapters  0.669203
6    nforum_posts  0.164721
7  total_activity  0.127928
8             age  0.322121

Lowest eigenvalue is for column total_activity.

#### The good confirmation of our analysis is the fact that correlation analysis in previous notebook and the multicollinearity analysis preforemed here both point out that variables that measure interaction with courses materials are mostly correlated with each other and that this needs to be handeld so it wouldn't affect our model.

# Linear regression

In [15]:
excluded = ['course_id', 'o', 'u','userid_DI', 'final_cc_cname_DI', 'start_time_DI', 'last_event_DI', 'LoE_DI','YoB',
            'gender','grade']

In [16]:
regression_data = data.drop(excluded, axis=1) # excluding all columns that are not suitable variables for linear regression

In [17]:
cols = ['nchapters', 'total_activity', 'nplay_video', 'age']

In [18]:
X, y = regression_data.drop(cols, axis=1), data['grade']
lm = LinearRegression()
lm.fit(X, y)
predictions = lm.predict(X)
print('R2:', metrics.r2_score(y, predictions))

R2: 0.643208031565

In [19]:
list(zip(X.columns, lm.coef_))

[('viewed', -0.0053201229265095488),
 ('explored', 0.21071638682158703),
 ('nevents', 3.1782418661613354e-05),
 ('ndays_act', 0.0043903907823268952),
 ('nforum_posts', 0.002345151503285875),
 ('Australia', 0.0034774716558332447),
 ('Bangladesh', -0.0041994188117098208),
 ('Brazil', -0.0012788803019587076),
 ('Canada', -0.0010852917403241097),
 ('China', 0.0016254575812153439),
 ('Colombia', 0.0022640324516981988),
 ('Egypt', -0.0058316256612901789),
 ('France', 0.0061879213226447641),
 ('Germany', 0.0093188423357371472),
 ('Greece', 0.0099002730280920281),
 ('India', 0.0049259586229265101),
 ('Indonesia', 0.0012359100392574617),
 ('Japan', -0.0030246601598731236),
 ('Mexico', -0.0052756872941620986),
 ('Morocco', -0.0018892680005211313),
 ('Nigeria', -0.0008764970783809228),
 ('Other Africa', -0.00061780273542454481),
 ('Other East Asia', 0.00051793148126120722),
 ('Other Europe', -0.0016476523896827196),
 ('Other Middle East/Central Asia', -0.0014388180887866808),
 ('Other North & Central Amer., Caribbean', 0.0080940661011344398),
 ('Other Oceania', -0.014099916369386878),
 ('Other South America', 0.00029460179601785083),
 ('Other South Asia', 0.0042756900301096365),
 ('Pakistan', 0.0022319894347334959),
 ('Philippines', 0.0011277646191689165),
 ('Poland', -0.0038950381230247813),
 ('Portugal', 0.0042824058430200995),
 ('Russian Federation', -0.0080580249789883266),
 ('Spain', 0.004919524241335748),
 ('Ukraine', -0.013402491203516369),
 ('United Kingdom', 0.00072020553190575362),
 ('United States', -0.0041629161355849131),
 ('Unknown/Other', 0.0053839429563350139),
 ("Bachelor's", -0.00012450844859493437),
 ('Doctorate', -0.00089783065358802535),
 ('Less than Secondary', 0.00043529750492823926),
 ("Master's", 0.0012906434205274472),
 ('Secondary', 0.0001368074418487894),
 ('UnknownLoE', -0.00084040926461332504),
 ('f', 0.0045709185930763938),
 ('m', -0.0045709185930846719)]

In [20]:
lm.intercept_

-0.0031258695978068629

In [21]:
sk.feature_selection.f_regression(X,y)

(array([  1.42910243e+04,   4.55802468e+05,   4.97600346e+05,
          5.78924714e+05,   6.32284474e+03,   7.01051029e+00,
          2.92469920e+01,   4.59315834e+00,   8.41254238e-02,
          1.78342543e+01,   6.55812122e+01,   6.06763948e+01,
          5.25778870e+01,   3.04879535e+02,   2.03863286e+02,
          8.20236054e+02,   2.48426537e+00,   9.18758886e+00,
          5.19709491e-01,   7.44791258e+01,   8.25988808e+00,
          6.69071353e+00,   8.16783415e+00,   6.05204827e+02,
          3.05147218e+01,   3.12032613e+01,   5.96058558e+00,
          1.19740756e+01,   2.80663387e+01,   6.33126359e+01,
          1.47376537e+01,   5.18131273e+02,   7.46517186e+01,
          3.97762143e+02,   1.41666112e+03,   1.11301297e+02,
          8.42582031e+01,   3.04030812e+02,   3.59024777e+03,
          1.55988088e+02,   5.92512337e+01,   3.65799551e+00,
          9.02287669e+02,   1.19106918e+02,   2.46799377e+02,
          2.91292857e+02,   2.91292857e+02]),
 array([  0.00000000e+000,   0.00000000e+000,   0.00000000e+000,
          0.00000000e+000,   0.00000000e+000,   8.10351492e-003,
          6.37444613e-008,   3.21002980e-002,   7.71782828e-001,
          2.41048276e-005,   5.58928636e-016,   6.74013404e-015,
          4.14118856e-013,   2.98699865e-068,   3.06212010e-046,
          3.02187222e-180,   1.14990668e-001,   2.43674243e-003,
          4.70965972e-001,   6.14594240e-018,   4.05323521e-003,
          9.69192344e-003,   4.26415718e-003,   1.48692314e-133,
          3.31508575e-008,   2.32496941e-008,   1.46295294e-002,
          5.39503652e-004,   1.17277153e-007,   1.76738066e-015,
          1.23569306e-004,   1.23653078e-114,   5.63152731e-018,
          1.83216609e-088,   1.38713717e-309,   5.11527444e-026,
          4.35795191e-020,   4.57110007e-068,   0.00000000e+000,
          8.62336858e-036,   1.39027930e-014,   5.58013049e-002,
          4.71340771e-198,   9.99596469e-028,   1.33564589e-055,
          2.71391569e-065,   2.71391569e-065]))