In [93]:
import pandas as pd

In [94]:
data = pd.read_csv('HMXPC13_DI_v2_5-14-14.csv')

In [95]:
data.head(5)

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,NaN,0,2012-10-15,NaN,NaN,9.0,NaN,1.0,0,NaN,1.0
2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-09-17,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0
4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0

In [96]:
data.columns

Index(['course_id', 'userid_DI', 'registered', 'viewed', 'explored',
       'certified', 'final_cc_cname_DI', 'LoE_DI', 'YoB', 'gender', 'grade',
       'start_time_DI', 'last_event_DI', 'nevents', 'ndays_act', 'nplay_video',
       'nchapters', 'nforum_posts', 'roles', 'incomplete_flag'],
      dtype='object')

In [97]:
data.shape

(641138, 20)

In [98]:
d = data.drop(['roles', 'incomplete_flag'], axis=1)

In [115]:
d['nchapters'].value_counts()

1.0     121837
2.0     110085
3.0      52296
4.0      24937
5.0      13838
6.0       8536
12.0      7987
7.0       6556
8.0       5009
9.0       4091
10.0      3598
18.0      3411
11.0      3258
16.0      2890
15.0      2684
13.0      2053
14.0      2021
17.0      1877
32.0       657
20.0       624
33.0       511
19.0       473
21.0       424
31.0       385
27.0       352
26.0       339
34.0       271
25.0       250
28.0       193
30.0       181
29.0       179
24.0       157
22.0       150
23.0       149
36.0        23
35.0        16
37.0        15
40.0        12
42.0        11
39.0        10
38.0         8
43.0         6
48.0         6
41.0         5
47.0         5
45.0         3
46.0         3
44.0         3
Name: nchapters, dtype: int64

In [73]:
d.shape

(641138, 18)

In [75]:
d.dropna(axis=0, how='any', inplace=True)

In [76]:
d.shape

(131522, 18)